/* URGENT! DO NOT DELETE! */
@font-face {
    font-family: 'material-icons';
    font-style: normal;
    src: url('Icons/MaterialIcons-Regular.ttf');
}
/* FONT DECLARATION */
.material-icons {
    font-family: 'material-icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
/* gtk components style */
.gtkButton {
    border-radius: 5px;
    border-width: 0px;
    border-style: none;
    border-color: none;
    padding: 7px;
    margin: 0px;
    background-color: #3f3f3f;
    color: #fff;
    font-size: 12px;
    font-family: Inter;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    cursor: default;
    outline: none;
    border: 1px solid #fff;
}
.appMenu {
    display: inline-block;
    padding: 35px;
    background-color: #1d1d1d;
    opacity: 0.65;
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}
.appMenuLauncher {
    display: inline-block !important;
    text-align: center;
    margin-left: 35px;
    background: none;
    cursor: pointer;
    opacity: 1;
    color: white;
    border: 0px black solid;
}
.appMenuGTK {
    background: none;
    opacity: 1;
    color: white;
    border: 0px black solid;
}
body {
    font-family: Inter !important;
    background-image: url("bg.jpg");
    overflow: hidden;
  }
  Header {
    overflow: hidden;
    width: 100%;
    background-color: #3f3f3f;
    height: 25px;
    margin: 0;
    padding: 5px;
    background: rgb(31,31,31);
  }
  .window {
      height: 0px;
      width: 0px;
      display: none;
  }
  .header {
     width: 600px;
     height: 30px;
     background-color: #3e3e3e;
     cursor: move;
     border: black solid 0.5px;
  }
  .content {
     width: 600px;
     margin: 0;
     padding: 0;
     height: 450px;
     border: black solid 0.5px;
  }
  .headertext {
      color: white;
      background-color: #3e3e3e;
      border: black solid 0px;
      font-family: Inter;
      font-size: 20px;
      padding-top: 5px;
      height: 30px;
  }
  .closebutton {
      float: right;
      background-color: #0084ff;
      height: 100%;
      width: 50px;
      border: black solid 0px;
      font-size: 20px;
      color: white;
  }
  .closebutton:hover{
      background-color: red;
      border: black solid 0px;
  
  }
  li {
      float: left;
      display: block;
  }
  *{
      margin: 0;
      padding: 0;
  }
  
  nav{
  display: inline-block;
  }
  .sidebar2 {
      height: 100%;
      width:50px;
      position:fixed!important;
      z-index:1;
      overflow:auto;
      padding: 2.5px;
      opacity: .60;
      background-color: #3f3f3f;
      display: flex;
      flex-direction: column;
  }
  .menubutton2 {
      background-color: #3f3f3f;
      border: black solid 0px;
      font-family: Inter;
      color: black;
      float: left;
      text-align: left;
      font-size: 15px
  }
  .list {
      width: 60%;
      margin: auto;
  }
    .minimize {
      float: right;
      background-color: #3e3e3e;
      height: 100%;
      width: 50px;
      border: black solid 0px;
      font-size: 20px;
      color: white;
  }
  .minimize:hover{
      background-color: red;
      border: black solid 0px;
  
  }
    .menubuttonminimized {
      background-color: #1d1d1d;
      border: black solid 0px;
      color: black;
      float: left;
      display: none;
      margin-left: 15px;
      font-size: 15px;
      font-family: Inter;
      height: 20px;
      color: white;
  }
.OptionButton {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background-color: #3f3f3f;
    border: black solid 0px;
    color: black;
    float: left;
}
textarea {
  font-size: 20px;
  font-family: arial;
  padding: 5px;
}